
@font-face {
    font-family: "ChillDuanHeiSong";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/ChillDuanHeiSongRegular.otf") format("truetype");
}

@font-face {
    font-family: "ChillDuanHeiSong";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/ChillDuanHeiSongBold.otf") format("truetype");
}

@font-face {
    font-family: "ChillDuanHeiSong";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/ChillDuanHeiSongHeavy.otf") format("truetype");
}

@font-face {
    font-family: "ChillDuanHeiSong";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/ChillDuanHeiSongLight.otf") format("truetype");
}

@font-face {
    font-family: "ChillDuanHeiSongPro";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/ChillDuanHeiSongPro_Regular.otf") format("truetype");
}

:root {
  --md-text-font: ChillDuanHeiSong, ChillDuanHeiSongPro;
}
